# Aplicación
PORT=3000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://mongouser:mongopass@localhost:27017/devsecops?authSource=admin

# MongoDB (credenciales para docker-compose)
MONGO_INITDB_ROOT_USERNAME=mongouser
MONGO_INITDB_ROOT_PASSWORD=mongopass
MONGO_INITDB_DATABASE=devsecops

# SonarQube (para análisis manual)
SONAR_HOST_URL=http://localhost:9000
SONAR_TOKEN=TU_TOKEN_AQUI
